<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>up-bottom-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,304},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,380},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,380},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,456},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,456},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,532},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,532},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,608},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,608},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,0},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,684},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,684},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,760},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,760},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,836},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,836},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,912},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,912},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,988},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,76},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,988},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,1064},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,1064},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,1140},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,1140},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,1216},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,1216},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,76},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,1292},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,1292},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,1368},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,1368},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,1444},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,1444},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,1520},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,1520},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,152},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,152},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,228},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{51,228},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up-bottom-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{0,304},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{102,1596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb7c1a6e79f308382f973fd735d5b1d8:c69527fc4d4002b13b6d7b6adf7d9279:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
