<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>my-bottom-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{1,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{1,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{54,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{54,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{54,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{107,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{107,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{107,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{160,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{160,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{160,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{213,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{213,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{213,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{266,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{266,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{266,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{319,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{319,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{319,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{372,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{372,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{372,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{425,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{425,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{425,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{478,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{478,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{478,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{531,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{531,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{531,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{584,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{584,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{584,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{637,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{637,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{637,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{690,1},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{690,77},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-bottom-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{51,74}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{690,153},{51,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>my-bottom.png</string>
            <key>size</key>
            <string>{742,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49e5db4fc1103f35df290a86627c3cc8:c6dd020d1bdbf369ed7993762ff8affc:97027e4aa274c1ec2f35f0549e0d3345$</string>
            <key>textureFileName</key>
            <string>my-bottom.png</string>
        </dict>
    </dict>
</plist>
