<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>my-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{1,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{92,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{1,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{92,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{183,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{92,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{1,391},{89,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>my-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{183,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{274,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{183,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{131,391},{89,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>my-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{274,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{365,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{274,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{365,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{456,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{365,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{261,391},{89,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>my-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{456,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{547,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{456,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{391,391},{89,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>my-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{547,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{638,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{547,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{638,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{729,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{638,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{521,391},{89,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>my-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{729,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{820,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{729,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{651,391},{89,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>my-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{820,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{911,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{820,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{781,391},{89,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>my-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{911,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{1002,1},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{911,261},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{1002,131},{89,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>my_holds.png</string>
            <key>size</key>
            <string>{1092,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a7dc99d154688af3d9d21dcecb21cf3:3d0e5e5d7fe2b757b7f98f22dbf45378:555e108a7ad624d8b299acb3d1ada484$</string>
            <key>textureFileName</key>
            <string>my_holds.png</string>
        </dict>
    </dict>
</plist>
