<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green-my-bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,91}</string>
                <key>spriteSourceSize</key>
                <string>{67,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green-my-hold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,99}</string>
                <key>spriteSourceSize</key>
                <string>{67,99}</string>
                <key>textureRect</key>
                <string>{{67,0},{67,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green-side-bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,43}</string>
                <key>spriteSourceSize</key>
                <string>{56,43}</string>
                <key>textureRect</key>
                <string>{{134,0},{56,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>side-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,34}</string>
                <key>spriteSourceSize</key>
                <string>{43,34}</string>
                <key>textureRect</key>
                <string>{{190,0},{43,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pai.png</string>
            <key>size</key>
            <string>{233,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:937e7f9a748d4433d709101f851352e2:0903716962dec15edaf07f91e3c6c664:a0fcd5292797d58aa6b83b0527728e34$</string>
            <key>textureFileName</key>
            <string>pai.png</string>
        </dict>
    </dict>
</plist>
